{{define "inside"}}
		<div id="body">
			<div id="body-real">
				<div class="main-file-name">{{.NowPageName}}：</div>
				<div class="contentmain">
					废话少说，直奔“<a href="/Admin/AskAnswer/admin">有问不一定必答</a>”的管理界面。
				</div>
			</div>
		</div>
{{end}}
