{{define "inside"}}
		<div id="body">
			<div id="body-real">
				<div class="main-file-name">看起来很吓人的main.go ：</div>
				<div class="main-go">
					{{.MainGoFile}}
				</div>
				<div class="list">单元&nbsp;&nbsp;单元路由&nbsp;&nbsp;节点&nbsp;&nbsp;节点树&nbsp;&nbsp;路由表自动生成</div>
			</div>
		</div>
{{end}}
