{{define "inside"}}
		<div id="body">
			<div id="body-real">
				<div class="main-file-name">为什么地址是一个Ip和一个端口：</div>
				<div class="why-ip">
					{{.WhyIpFile}}
				</div>
			</div>
		</div>
{{end}}
